* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: 5em;
}

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.recommendations h1 {
    margin: 30px;
}

.recommend-images {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.rec-image {
    width: 27%;
}

.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
}