* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
}